@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?khq6v1');
	src:url('../fonts/icomoon.eot?#iefixkhq6v1') format('embedded-opentype'),
		url('../fonts/icomoon.woff?khq6v1') format('woff'),
		url('../fonts/icomoon.ttf?khq6v1') format('truetype'),
		url('../fonts/icomoon.svg?khq6v1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
	content: "\e600";
	color: red;
}
.icon-checkmark:before {
	content: "\e601";
	color: green;
}
